@tailwind components;
@tailwind utilities;

@layer components{
    .audioPlayer {
        /*@apply*/
        /*items-center*/
        /*flex*/
    }

    .forwardBackward {
        @apply
        bg-none
        border-none
        flex
        items-center
        font-Poppins
        text-base
        cursor-pointer
    }

    .forwardBackward {
        @apply
        hover:text-primary
    }

    .playPause {
        @apply
        /*bg-primary*/
        border-none
        rounded-full
        w-75
        h-75
        text-base
        text-secondary
        flex
        justify-center
        items-center
        z-10
    }

    .play {
        @apply
        relative
        left-3
    }

    .currentTime,
    .duration {
        @apply
        font-Poppins
        text-base
    }

    .currentTime {
        @apply
        ml-25;
    }

    .progressBar {
        @apply
        appearance-none
        bg-bar_bg
        rounded-10
        relative
        w-full
        h-11
        outline-none
    }

    /*progress bar - safari*/
    .progressBar::-webkit-slider-runnable-track {
        @apply
        bg-bar_bg
        rounded-10
        relative
        w-full
        h-11
        outline-none
    }

    /*progress bar - firefox*/
    .progressBar::-moz-range-track {
        @apply
        bg-bar_bg
        rounded-10
        relative
        w-full
        h-11
        outline-none
    }

    .progressBar::-moz-focus-outer {
        @apply
        border-0
    }

    /*progress bar - chrome and safari*/
    .progressBar::before {
        @apply
        content-none
        h-11
        w-seek-before-width
        text-seek_before_color
        rounded-tl-10
        rounded-bl-10
        absolute
        top-0
        left-0
        z-20
        cursor-pointer
    }

    /*progress bar - firefox*/
    .progressBar::-moz-range-progress {
        @apply
        text-seek_before_color
        rounded-tl-10
        rounded-bl-10
        h-11
    }

    /*knobby - chrome and safari*/
    .progressBar::-webkit-slider-thumb {
        @apply
        appearance-none
        h-15
        w-15
        rounded-full
        border-0
        bg-knobby
        cursor-pointer
        relative
        -mt-2px
        z-30
        box-border
    }

    /*knobby - firefox*/
    .progressBar::-moz-range-thumb {
        @apply
        h-15
        w-15
        rounded-full
        border-transparent
        bg-knobby
        cursor-pointer
        relative
        z-30
        box-border
    }

    /*Demo Filter Styles */
    .langToggle {
        @apply
        bg-pink-300
        text-2xl
        m-8
        font-Poppins
        z-10
    }

    .playerCard {
        @apply
        bg-violet-500/50
        rounded
        m-5
        h-36
    }

}

/*knobby while dragging - chrome and safari*/
.progressBar:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background-color: #26c9c3;
}



/*knobby while dragging - firefox*/
.progressBar:active::-moz-range-thumb {
    transform: scale(1.2);
    background-color: #26c9c3;
}