@tailwind components;
@tailwind utilities;

@layer components {

    .playerCard {
        @apply
        border
        border-neutral-800
        bg-neutral-900
        rounded-lg
        mb-3
        px-4
        py-3
        box-border
    }
}

/*custom styles for scroller*/
.scroller__inner {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
}

.scroller[data-animated='true'] {
    -webkit-mask-image: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask-image: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-direction='right'] {
    --animation-direction: reverse;
    animation-direction: var(--animation-direction);
}

.scroller[data-speed='fast'] {
    --animation-duration: 40s;
    animation-duration: var(--animation-duration);
}