/*Tailwind directives*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*Base Styles*/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    color: white;
    font-weight: bolder;
    font-size: 2em;
    line-height: 1.6;
}

h2 {
    color: white;
    font-weight: bolder;
    font-size: 1.5em;
    line-height: 1.6;
}

h3 {
    color: white;
    font-weight: bolder;
    font-size: 1.17em;
    line-height: 1.6;
}

h4 {
    color: white;
    font-weight: bolder;
    font-size: 1em;
    line-height: 1.6;
}

h5 {
    color: white;
    font-weight: bolder;
    font-size: .83em;
    line-height: 1.6;
}

h6 {
    color: white;
    font-weight: bolder;
    font-size: .67em;
    line-height: 1.6;
}

p {
    color: white;
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    /*font-size: 18px;*/
    /*line-height: 1.6;*/
}

ul {
    list-style-type: none;
}

.background {
    background: #000000;
}

.bodyContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: 1520px;
    max-width: 1059px;
    width: 96%;
    margin: auto;
    background-image: url("../public/resources/images/aurora2.jpg");
    background-size: 100% 100%
}

.aboutBackground {
    width: 1520px;
    height: 1059px;
    position: relative;
}

.gradient {
    height: 100%;
    width: 82%;
    position: absolute;
    background-image: linear-gradient(to right top, black 42%, transparent);
    opacity: 0.9;
}

.container > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}


@layer components {
    /*Header Styles*/
    .headerBtn {
        @apply
        w-36
        text-black
        bg-fuchsia-400
        text-xl
        font-Poppins
        text-center
        font-bold
        mx-6
        hover:bg-fuchsia-800
        hover:text-gray-400
    }

    .logo {
        @apply
        w-80
        h-44
    }

    .contactMe {
        @apply
        bg-transparent
        hover:bg-blue-500
        text-blue-700
        font-Poppins
        hover:text-white
        py-2
        px-4
        border
        border-blue-500
        hover:border-transparent
        rounded
        mr-10
    }

    .bookAudition {
        @apply
        bg-blue-500
        hover:bg-blue-700
        text-white
        font-Poppins
        py-2
        px-4
        border
        border-blue-700
        rounded
    }

    /*Section Title styles*/
    #demoTitle {
        @apply
        text-4xl
        font-bold
        text-white
        leading-tight
        mb-2
        border-t-4
        border-b-4
        border-purple-600
        py-4
    }

    .titleContainer {
        @apply
        max-w-3xl
        mr-auto
        /*text-center*/
        my-4
    }
}