/*Tailwind directives for Carousel*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*Base Styles*/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    color: white;
    font-weight: bolder;
    font-size: 2em;
    line-height: 1.6;
}

h2 {
    color: white;
    font-weight: bolder;
    font-size: 1.5em;
    line-height: 1.6;
}

h3 {
    color: white;
    font-weight: bolder;
    font-size: 1.17em;
    line-height: 1.6;
}

h4 {
    color: white;
    font-weight: bolder;
    font-size: 1em;
    line-height: 1.6;
}

h5 {
    color: white;
    font-weight: bolder;
    font-size: .83em;
    line-height: 1.6;
}

h6 {
    color: white;
    font-weight: bolder;
    font-size: .67em;
    line-height: 1.6;
}

p {
    color: white;
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 15px;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

.background {
    background: #000000;
}

.bodyContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: 1520px;
    max-width: 1059px;
    width: 96%;
    margin: auto;
}

.aboutBackground {
    width: 1520px;
    height: 1059px;
    position: relative;
}

.gradient {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(to right top, black 42%, transparent);
    opacity: 0.9;
}

.container > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

/*Header Styles*/

@layer components {
    .headerBtn {
        @apply
        w-36
        text-black
        bg-fuchsia-400
        text-xl
        font-Poppins
        text-center
        font-bold
        mx-6
        hover:bg-fuchsia-800
        hover:text-gray-400
    }

    .logo {
        @apply
        w-80
        h-44
    }

    .contactMe {
        @apply
        bg-transparent
        hover:bg-blue-500
        text-blue-700
        font-Poppins
        hover:text-white
        py-2
        px-4
        border
        border-blue-500
        hover:border-transparent
        rounded
        mr-10
    }

    .bookAudition {
        @apply
        bg-blue-500
        hover:bg-blue-700
        text-white
        font-Poppins
        py-2
        px-4
        border
        border-blue-700
        rounded
    }
}

/*About.js Styles*/

/*Demo Reel Styles*/
/*section:nth-child(2) .card {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    grid-template-rows: auto;*/
/*    grid-template-areas:*/
/*        "header title"*/
/*        "main sidebar";*/
/*    grid-gap: 10px;*/
/*    border: 2px solid green;*/
/*}*/

/*#demoBook {*/
/*    grid-area: header;*/
/*}*/
/*#demoTitle {*/
/*    grid-area: title;*/
/*}*/
/*#demoPlayer {*/
/*    grid-area: main;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    max-height: 671px;*/
/*    min-height: 500px;*/
/*}*/
/*#demoImages {*/
/*    grid-area: sidebar;*/
/*}*/


/*Footer Styles*/
/*.footer {*/
/*    margin-top: auto;*/
/*    height: 165px;*/
/*    !*background-color: #De37D6;*!*/
/*}*/

/*.footerContent {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr 1fr;*/
/*    grid-gap: 10px;*/
/*    margin: 0 40px;*/
/*}*/

/*.footerContent img {*/
/*    margin: auto;*/
/*}*/

/*.footContentContainer {*/
/*    height: 100%;*/
/*    position: relative;*/
/*}*/

/*#copyrightTextWrap {*/
/*    position: absolute;*/
/*    padding: 10px 0;*/
/*    top: 85px;*/
/*}*/

/*#socialWrap {*/
/*    position: absolute;*/
/*    padding: 10px 0;*/
/*    left: 355px;*/
/*}*/

/*#socialsList li {*/
/*    display: inline;*/
/*    padding: 0 10px;*/
/*}*/

/*.text-footer {*/
/*    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;*/
/*    font-weight: bold;*/
/*    color: #000000;*/
/*}*/